/*Header*/

.page__header {
    background-color: var(--white, #ffffff);
    height: 11dvh;
    border: 2px solid;
    font-size: 1em;
}

.page__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
    height: 100%;
}

.page__nav-h1 {
    display: inline-block;
    font-size: 1.25em;
}

.page__nav-h1 span {
    font-style: italic;
    color: var(--red, #FF4605);
}

.page__nav__hamburger-menu li,
.page__nav__menu li {
    list-style: none;
}

.page__nav__menu li a {
    text-decoration: none;
    color: var(--black, #000000);
}

/* Menu - desktop */
.page__nav__menu {
    display: flex;
    gap: 3.125em;
}

/* Dropdown-menu*/

.dropdown-menu {
    display: blockj;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li a {
    padding: 10px;
    color: white;
    font-size: 1em;
}

.dropdown:hover .dropdown-menu {
    display: block;
}