/*Header*/

.page__header {
    position: fixed;
    top: var(--header--fixed);
    left: var(--header--fixed);
    right: var(--header--fixed);
    background-color: var(--white, #ffffff);
    height: 9dvh;
    font-size: 1em;
    transition: top 0.3s;
    z-index: 10000;
}

.page__header-hidden {
    top: -100px;
}

.page__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
    height: 100%;
}

.page__nav-h1 {
    display: inline-block;
    font-size: 1.25em;
    z-index: 1050;
    margin-left: 1em;
}

.page__nav-h1 span {
    font-style: italic;
    color: var(--red, #FF4605);
}

.page__nav__hamburger-menu li,
.page__nav__menu li {
    list-style: none;
    padding: 1em;
    cursor: pointer;
}

.page__nav__menu li a {
    position: relative;
    text-decoration: none;
    color: var(--black, #000000);
}

.page__nav__menu li a:not(.exclude)::after {
    content: '';
    position: absolute;
    bottom: -.093em;
    left: 0;
    width: 0;
    height: .125em;
    background-color: var(--black, #000000);
    transition: width 0.3s ease-in-out;
}

.page__nav__menu li .activeLi:not(.exclude)::after {
    background-color: var(--red, #FF4605);
}

.page__nav__menu li a:hover::after {
    width: 100%;
}

/*Menu - desktop*/

.page__nav__menu {
    display: flex;
    gap: var(--gap, 1em);
}

/*Menu - mobile*/

@media screen and (max-width: 768px) {
    .page__nav__hamburger-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--white, white);
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        z-index: 1000;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    .page__nav__hamburger-menu li a {
        margin: var(--gap, 1em) 0;
        font-family: "DM Sans", sans-serif;
        font-size: 1.5em;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
        color: var(--black, #000000);
    }
    
    .page__nav__hamburger-menu li a:hover {
        transition: color 0.3s ease;
    }
    
    .page_nav__hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .4em;
        z-index: 1100;
        cursor: pointer;
        width: 2em;
        height: 2em;
        background: none;
        margin-right: 1em;
    }
    
    .line {
        width: 100%;
        height: 0.25em;
        background-color: var(--black, #000000);
        border-radius: 0.125em;
        transition: all 0.3s ease-in-out;
    }
    
    .page_nav__hamburger.active .line:nth-child(1) {
        transform: rotate(50deg) translateY(1em);
    }
    
    .page_nav__hamburger.active .line:nth-child(2) {
        opacity: 0;
    }
    
    .page_nav__hamburger.active .line:nth-child(3) {
        transform: rotate(-50deg) translateY(-1em);
    }

    .page__nav__menu {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .page__nav__hamburger-menu {
        display: none;
    }
}

/*Dropdown - menu*/

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--white, #ffffff);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: .7em;
    padding-left: .5em;
    padding-right: 4.5em;
    margin-top: 1em;
    height: fit-content;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-menu-hamburger {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity .3s ease, transform 0.3s ease;
    background-color: var(--white, white);
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.dropdown-menu-hamburger.open {
    display: block;
    opacity: 1;
    transform: translateY(0);
    background-color: var(--gray-hover, rgb(212, 209, 209));
}

.dropdown-hamburger {
    background-color: transparent;
    width: 100%;
    transition: background-color 0.3s ease, margin-top 0.3s ease;
    position: relative;
}

.contact.active-contact {
    transform: translateY(10em);
    transition: transform 0.3s ease;
}

.dropdown-hamburger.active {
    background-color: var(--gray-hover, rgb(212, 209, 209));
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-hamburger:active > .dropdown-menu-hamburger {
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown .exclude {
    transition: .2s all;
}

.dropdown:hover .exclude {
    color: rgb(145, 145, 145);
}

.dropdown-menu > * {
    padding-bottom: 1.5em;
}

.dropdown-menu > *:last-child {
    padding-bottom: .75em;
}

/*Main - index.html*/

/*Section - page__offers*/

.page__offers {
    height: 91dvh;
}

.container--bg {
    display: flex;
    justify-content: center;
    background-image: url(../images/back/bg-car.avif), url(../images/back/bg-car.webp), url(../images/original/bg-car.jpg);
    background-attachment: fixed;
    height: 75dvh;
    background-position: center center;
    background-size: cover;
}

.container--ad {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 12em;
    height: max-content;
    width: max-content;
    max-width: 35em;
    color: var(--white, #ffffff);
    background-color: var(--semi-transparent__black);
    opacity: 0;
}

@media screen and (max-width: 300px){
    .container--ad {
        margin-top: 6em;
    }
}

.container--ad__h2 {
    --container--ad__line-height: 1.3em;
    --padding: .5em;
    padding-top: var(--padding);
    padding-left: var(--padding);
    padding-right: var(--padding);
    text-align: center;
    line-height: var(--container--ad__line-height);
}

.container--ad__h2 > span {
    font-style: italic;
    color: var(--red, #FF4605);
}

.container--ad__p {
    margin-top: .3em;
}

.container--ad__p > strong > span {
    font-weight: 400;
    color: var(--red, #FF4605);
}

.container--ad h2 {
    margin: 0;
}

.container--cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap, 1em);
    margin: -8em auto;
}

.cards__1, .cards__2, .cards__3 {
    padding: var(--gap, 1em);
    max-width: 24em;
    opacity: 0;
}

@media screen and (min-width: 768px){
    .cards__1, .cards__2, .cards__3{
        flex-basis: 30%;
    }
}

/*Delay*/

.container--ad.animate, .cards__1.animate, .cards__2.animate, .cards__3.animate {
    animation: slide-up .5s ease-in-out forwards;
}