/*Header*/

.page__header {
    position: fixed;
    top: var(--header--fixed);
    left: var(--header--fixed);
    right: var(--header--fixed);
    background-color: var(--white, #ffffff);
    height: 9dvh;
    font-size: 1em;
    transition: top 0.3s;
    z-index: 10000;
}

.page__header-hidden {
    top: -300px;
}

.page__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
    height: 100%;
}

.page__nav a {
    text-decoration: none;
    color: var(--black, #000000);
}

.page__nav-h1 {
    display: inline-block;
    font-size: 1.25em;
    z-index: 1050;
    margin-left: 1em;
}

.page__nav-h1 span {
    font-style: italic;
    color: var(--red, #FF4605);
}

.page__nav__hamburger-menu li,
.page__nav__menu li {
    display: inline-block;
    list-style: none;
    padding: 1em;
    cursor: pointer;
}

.page__nav__hamburger-menu li, .dropdown li {
    display: block;
}

.page__nav__menu li a {
    position: relative;
    text-decoration: none;
    color: var(--black, #000000);
}

.page__nav__menu li a:not(.exclude)::after {
    content: '';
    position: absolute;
    bottom: -.093em;
    left: 0;
    width: 0;
    height: .125em;
    background-color: var(--black, #000000);
    transition: width 0.3s ease-in-out;
}

.page__nav__menu li .activeLi:not(.exclude)::after {
    background-color: var(--red, #FF4605);
}

.page__nav__menu li a:hover::after {
    width: 100%;
}

/*Menu - desktop*/

.page__nav__menu {
    display: flex;
    gap: var(--gap);
}

/*Menu - mobile*/

@media screen and (max-width: 768px) {
    .page__nav__hamburger-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--white, #ffffff);
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        z-index: 1000;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    .page__nav__hamburger-menu li a {
        margin: var(--gap) 0;
        font-family: "DM Sans", sans-serif;
        font-size: 1.5em;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
        color: var(--black, #000000);
    }
    
    .page__nav__hamburger-menu li a:hover {
        transition: color 0.3s ease;
    }
    
    .page_nav__hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .4em;
        z-index: 1100;
        cursor: pointer;
        width: 2em;
        height: 2em;
        background: none;
        margin-right: 1em;
    }
    
    .line {
        width: 100%;
        height: 0.25em;
        background-color: var(--black, #000000);
        border-radius: 0.125em;
        transition: all 0.3s ease-in-out;
    }
    
    .page_nav__hamburger.active .line:nth-child(1) {
        transform: rotate(45deg) translateY(.9em);
    }
    
    .page_nav__hamburger.active .line:nth-child(2) {
        opacity: 0;
    }
    
    .page_nav__hamburger.active .line:nth-child(3) {
        transform: rotate(-45deg) translateY(-.92em);
    }

    .page__nav__menu {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .page__nav__hamburger-menu {
        display: none;
    }
}

/*Dropdown - menu*/

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--white, #ffffff);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: .7em;
    padding-left: .5em;
    padding-right: 4.5em;
    margin-top: 1em;
    height: fit-content;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    animation: show-up forwards .5s ease;
}

.dropdown-menu-hamburger {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity .3s ease, transform 0.3s ease;
    background-color: var(--white, #ffffff);
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 1em;
}

.dropdown-menu-hamburger.open {
    display: block;
    opacity: 1;
    transform: translateY(0);
    background-color: var(--gray, #F8F7F7);
}

.dropdown-hamburger {
    background-color: transparent;
    width: 100%;
    transition: background-color .3s ease, margin-top .3s ease;
    position: relative;
}

.contact.active-contact {
    transform: translateY(7.8em);
    transition: transform 0.3s ease;
}

.dropdown-hamburger.active {
    background-color: var(--gray, #F8F7F7);
}

.dropdown:hover > .dropdown-menu, .dropdown-hamburger:active > .dropdown-menu-hamburger {
    display: block;
}

.dropdown-hamburger.open .arrow::after {
    transform: rotate(180deg);
}

.dropdown {
    position: relative;
}

.dropdown .exclude {
    transition: .2s all;
}

.dropdown:hover .exclude {
    color: gray;
}

.dropdown:hover .arrow::after {
    transform: rotate(180deg);
}

.exclude::after {
    transition: transform 0.3s ease;
}

.dropdown-menu > * {
    padding-bottom: 1.5em;
}

.dropdown-menu > *:last-child {
    padding-bottom: .75em;
}

/*Main - index.html*/

/*Section - page__offers*/

.page__offers {
    display: block;
    height: 91dvh;
}

.container--bg {
    display: flex;
    justify-content: center;
    background-image: url(../images/back/bg-car.avif), url(../images/back/bg-car.webp), url(../images/original/bg-car.jpg);
    background-attachment: fixed;
    height: 75dvh;
    background-position: center center;
    background-size: cover;
}

.container--ad {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 12em;
    height: max-content;
    width: max-content;
    max-width: 560px;
    color: var(--white, #ffffff);
    background-color: var(--semi-transparent__black);
    opacity: 0;
}

@media screen and (max-width: 300px){
    .container--ad {
        margin-top: 6em;
    }
}

.container--ad__h2 {
    --container--ad__line-height: 1.3em;
    --padding: .5em;
    padding: var(--padding) var(--padding);
    text-align: center;
    line-height: var(--container--ad__line-height);
}

.container--ad__h2 > span {
    font-style: italic;
    color: var(--red, #FF4605);
}

.container--ad__p {
    margin-top: -.3em;
}

.container--ad__p > strong > span {
    font-weight: 400;
}

.container--ad h2 {
    margin: 0;
}

.container--cards {
    --gap: 2em;
    display: flex;
    justify-content: center;
    gap: var(--gap);
    margin: -8em 1em;
}

.cards__1, .cards__2, .cards__3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    flex-basis: 33%;
    max-width: 360px;
    height: auto;
    aspect-ratio: 4 / 3;
    opacity: 0;
    transition: .3s ease-in-out;
}

.cards__1::after, .cards__2::after, .cards__3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .5s all;
    box-shadow: 0 2px 8px var(--shadow, rgb(168, 168, 168));
}

.cards__1::after {
    background-image: url(../images/back/certificate.avif), url(../images/back/certificate.webp), url(../images/original/certificate.jpg);
}

.cards__2::after {
    background-image: url(../images/back/fast-pneuservis.avif), url(../images/back/fast-pneuservis.webp), url(../images/original/fast-pneuservis.jpg);
}

.cards__3::after {
    background-image: url(../images/back/call-us.avif), url(../images/back/call-us.webp), url(../images/original/call-us.jpg);
}

.cards__1:hover::after, .cards__2:hover::after, .cards__3:hover::after {
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .page__offers {
        height: auto;
    }

    .container--cards {
        flex-direction: column;
    }

    .cards__1, .cards__2, .cards__3 {
        max-width: none;
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 360px) {
    .cards__1 {
        margin-top: 3em;
    }
}

/*Delay*/

.container--ad.animate, .cards__1.animate, .cards__2.animate, .cards__3.animate {
    animation: slide-up .5s ease-in-out forwards;
}

/*Section - page__about*/

.page__about {
    display: flex;
    flex-direction: column;
    --margin-left: .5em;
    font-size: 1.0625em;
}

.header-about {
    margin: 0 var(--margin-left);
    flex-basis: 90%;
    flex-grow: 1;
    opacity: 0;
}

.header-about__img {
    height: 300px;
}

.header-about--main-p span {
    color: var(--red, #FF4605);
}

.container--about {
    flex-basis: 90%;
    flex-grow: 1;
    opacity: 0;
}

.container--about div {
    display: flex;
    margin: 1.5em var(--margin-left);
    gap: 1.5em;
    flex-direction: column;
}

.check--about {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 0;
}

.check--about li {
    display: block;
}

.check--about li::before {
    margin-right: var(--margin-left);
}

.footer-about {
    opacity: 0;
}

.page__about__button {
    display: inline-block;
    margin-left: var(--margin-left);
}

@media screen and (min-width: 1280px) {
    .page__about {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3.5em;
    }

    .header-about {
        flex-basis: 40%;
        flex-grow: 1;
        margin: 0 0;
    }

    .header-about__img {
        height: 525px;
    }

    .container--about {
        flex-basis: 40%;
        flex-grow: 1;
    }
}

/*Delay*/

.header-about.animate, .container--about.animate, .footer-about.animate {
    animation: slide-up .5s ease-in-out forwards;
}

/*Section - page__skills*/

.page__skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--beige, #F8F7F7);
}

.container--skills-header-main {
    display: flex;
    flex-direction: column;
    width: 1170px;
    max-width: 95%;
    margin-top: 7em;
    gap: .5em;
}

.header-skills {
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.header-skills p {
    line-height: 1.4em;
}

.container--skills {
    display: flex;
    flex-direction: row-reverse;
}

.container--skills a {
    display: inline-block;
    font-size: 1.0625em;
}

@media screen and (min-width: 768px) {
    .container--skills-header-main {
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }
}

/*Cards*/

.footer-skills {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    gap: var(--gap);
    margin: 2em .5em;
}

.footer-skills > article {
    flex-basis: 90%;
    flex-grow: 1;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .footer-skills {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-skills article {
        flex-basis: 25%;
    }
}

.container--skills-header-main, .footer-skills__c-1, .footer-skills__c-2, .footer-skills__c-3, .footer-skills__c-4, .footer-skills__c-5, .footer-skills__c-6 {
    opacity: 0;
}

/*Delay*/

.container--skills-header-main.animate, .footer-skills__c-1.animate, .footer-skills__c-2.animate, .footer-skills__c-3.animate, .footer-skills__c-4.animate, .footer-skills__c-5.animate, .footer-skills__c-6.animate {
    animation: slide-up .5s ease-in-out forwards;
}

/*Section - page__reviews*/

.header-reviews {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    margin: 7em auto 0;
    text-align: center;
    font-size: .75em;
}

.container--reviews {
    margin: 1.25em auto;
    text-align: center;
}

.container--reviews p {
    display: inline;
}

/*Cards*/

.footer-reviews {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    gap: var(--gap);
    margin: 6em .5em;
}

.footer-reviews > a {
    flex-basis: 90%;
    flex-grow: 1;
    margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
    .footer-reviews {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 6em auto;
    }

    .footer-reviews a {
        flex-basis: 40%;
    }
}

@media screen and (min-width: 1170px) {
    .footer-reviews {
        flex-direction: row;
        margin: 6em auto;
    }

    .footer-reviews a {
        flex-basis: 30%;
    }
}

.header-reviews, .container--reviews, .footer-reviews__c-1, .footer-reviews__c-2, .footer-reviews__c-3 {
    opacity: 0;
}

/*Delay*/

.header-reviews.animate, .container--reviews.animate, .footer-reviews__c-1.animate, .footer-reviews__c-2.animate, .footer-reviews__c-3.animate {
    animation: slide-up .5s ease-in-out forwards;
}

/*Main - location.html*/

/*Section - page__about--location*/

.page__about--location {
    height: 42.5dvh;
    background-position: bottom center;
}

.page__about--location .container--ad__h2 {
    font-size: clamp(2em, 10vw, 2.5em);
    padding: var(--padding) calc(var(--padding) * 5);
}

/*Section - page__iframe*/

.page__iframe {
    margin: 0 .5em;
    height: 28dvh;
    opacity: 0;
}

.page__iframe iframe {
    margin: 0 auto;
    height: 100%;
}

/*Delay*/

.page__about--location.animate, .page__iframe.animate {
    animation: slide-up .5s ease-in-out forwards;
}

/*Footer*/

.container--between-footer p {
    margin: .5em 0;
}

.page__contact {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 1170px;
    margin: 0 .5em;
}

.contact__cantact-data {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.contact__cantact-data > div {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.mobile-phone p {
    font-weight: 200;
}

@media screen and (min-width: 768px) {
    .page__contact {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }
}

.page__flap {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    gap: 2em;
    align-items: center;
    margin-top: 5em;
    background-color: var(--red, #FF4605);
    color: var(--white, #ffffff);
}

.inf--footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--gap);
    width: 100%;
}

.copyright {
    text-align: center;
}

.copyright a {
    font-weight: 700;
}

.page__flap a {
    text-decoration: none;
    color: var(--white, #ffffff);
    transition: .5s all;
}

.page__flap a:hover {
    color: var(--footer-hover, rgb(208, 208, 208));
}

@media screen and (min-width: 768px) {
    .inf--footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}